* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    width: 20px;
}

body {
    font-family: Inter;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #92c96d;
    padding: 60px;
    margin: 0;
    color: white;
    h1 {
        font-size: 2em;
    }
    p {
        font-weight: 300;
    }
}
#user_input {
    display: flex;
    justify-self: center;
    gap: 20px;
    button {
        border: none;
        background-color: #92c96d;
        color: white;
        transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    }
    button,select,input {
        padding: 15px;
        border-radius: 10px;
    }
    select {
        border: none;
        transition: outiline 0.2s ease-in-out;
    }
    input {
        border: none;
        border: 1px solid #c6d2bd;
        padding-right: 300px;
        transition: outiline 0.2s ease-in-out;
    }
    button:hover {
        background-color: #5a8e37;
        transform: translateY(-2px);
    }
    input:focus {
        outline: 1px solid #92c96d;
    }
    select:focus {
        outline: 1px solid #92c96d;
    }
}